h1
{
      color:blueviolet;
      font-family:Arial;
}

body
{
    background-color: #c3c3ff;
    color:#c3c3ff;
    font-family: impact;
}

div p
{
    color:aqua;
}

a:hover
{
    color:black;
}
input[type="text"]
{
    border: 1px solid purple;
}