h1
{
      color:blueviolet;
      font-family:'Times New Roman', Times, serif;
}

article
{
    background-image: url('https://ts1.mm.bing.net/th?id=OIP.kIl5A5ur5FG1u6YMqhjbcwHaD4&pid=15.1');
    width: 500;
    height: 250;
    color: red;
    font-family:'Times New Roman', Times, serif;
}

.blur
{
backdrop-filter:blur(5px);
background-color: pink;
}

div p
{
    color:aqua;
}

a:hover
{
    color:black;
}

input[type="text"]
{
    
    border: 1px solid purple;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: lightgray;
}

.item
{
    flex:1;
    align-self:center;
    background-color: teal;
    color: white;
}

.container2
{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 10px;
padding: 10px;
background-color:darkorchid;
}

.item2
{
background-color:palevioletred;
color:azure;
padding: 20px;
text-align: center;
font-size: 16px;

}